@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  font-family: Roboto;
}
.description {
  font-size: 1em;
  margin-left: 1.3em;
  font-weight: 100;
}
.step-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
}
.div-step {
  height: 100%;
  width: 100%;
}
.title {
  width: 230px;
  font-size: 30px;
  font-weight: 100;
}
.title-step {
  font-weight: 100;
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
  margin-left: 1em;
}
.step {
  position: relative;
  padding-bottom: 60px;
  min-height: 1em;
  color: gray;
}

.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
.circle {
  background: #fff;
  color: black;
  border: rgba(212, 211, 211, 0.699) solid 1px;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 100%;
  text-align: center;
}

.circle:after {
  content: " ";
  position: absolute;
  display: block;
  right: 50%;
  bottom: 1px;
  padding-bottom: 20px;
  left: 50%;
  height: 100%;
  border: rgba(0, 0, 0, 0.25) dashed 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  z-index: -1;
}
.step:last-child .circle:after {
  display: none;
}

/* responsividade */

@media (max-width: 600px) {
  .title {
    margin-bottom: 30px;
  }
  .circle:after {
    content: " ";
    position: absolute;
    display: block;
    right: 50%;
    bottom: 1px;
    padding-bottom: 15px;
    left: 50%;
    height: 100%;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    border: rgba(0, 0, 0, 0.25) dashed 1px;
    z-index: -1;
  }
  .step-section {
    display: block;
  }
  .step {
    margin-top: 1.5em;
    position: relative;
    padding-bottom: 5px;
    min-height: 1em;
    color: gray;
  }
}

/* galaxy fold or similars*/
@media (max-width: 280px) {
  .circle:after {
    content: " ";
    position: absolute;
    display: block;
    right: 50%;
    bottom: 1px;
    padding-bottom: 35px;
    left: 50%;
    height: 100%;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    border: rgba(0, 0, 0, 0.25) dashed 1px;
    z-index: -1;
  }
}

/*change content between 601px and 855px*/
@media screen and (max-width: 855px) and (min-width: 601px) {
  .circle:after {
    content: " ";
    position: absolute;
    display: block;
    right: 50%;
    bottom: 1px;
    padding-bottom: 25px;
    left: 50%;
    height: 100%;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    border: rgba(0, 0, 0, 0.25) dashed 1px;
    z-index: -1;
  }

  .step {
    margin-top: 1.5em;
    position: relative;
    padding-bottom: 5px;
    min-height: 1em;
    color: gray;
  }
}
